body{
    background-color: white;
    overflow: hidden;
}
.options{
    width: 200px;
    height: 100svh;
    position:absolute;
    display: flex;
    flex-direction: column;
    right:0px;
    top:0px;
    font-size: 25px;
    background-color: rgb(233, 235, 104);
    transition:right 0.5s ease-out;
}
.options div{
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    border-bottom: 1px solid black;
    text-align: center;
}
.options div:hover{
    background-color: rgb(155, 150, 150);
}
span{
    width:fit-content;
    cursor:pointer;
}